{
  "globals": {
    "expect": true
  },
  "extends": [
    "google"
  ],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": false,
        "MethodDefinition": false,
        "ClassDeclaration": false,
        "ArrowFunctionExpression": false,
        "FunctionExpression": false
      }
    }],
    "indent": ["error", 2, {
      "MemberExpression": 1,
      "SwitchCase": 1,
      "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }
    }],
    "max-len": ["error", {
      "code": 120,
      "ignoreRegExpLiterals": true,
      "ignoreTemplateLiterals": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true
    }],
    "new-cap": ["error", {
      "capIsNew": false,
      "properties": true
    }],
    "object-curly-spacing": ["error", "always", {
      "arraysInObjects": true,
      "objectsInObjects": false
    }]
  }
}